* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1440964829947-ca3277bd37f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  overflow: hidden;
  line-height: 1.5;
  color: white;
}
/* Logo */
.logo {
  font-size: 2.4rem;
  padding: 1.2rem 2rem;
}
.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.content {
  font-size: 6rem;
  margin-bottom: 1rem;
}
hr {
  border: none;
  background-color: white;
  height: 1px;
  width: 40%;
  opacity: 0.5;
}
.content-text {
  margin-top: 2rem;
  font-size: 1.7rem;
}
.link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
}
.link a {
  color: white;
}